.bg-image {
  background-image: url('https://i.ibb.co/FHXt1JC/notebooks-apple-inc-macbook-laptop-wallpaper-preview.jpg');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-font {
  font-size: 9rem;
  line-height: 10rem;
}

.running-font {
  font-size: 7rem;
  line-height: 10rem;
}

.latest-project-font {
  font-size: 9rem;
  color: black;
  -webkit-text-stroke: 1px white;

}

.customHero .customImg {
  visibility: hidden;
}

.customHero:hover .customImg {
  visibility: visible;
  transform: rotate3d(1, 1, 1, -20deg);
  transition: all 0.2s linear;

}

.borderd-text {
  -webkit-text-stroke: 1px white;
}

.rotate {
  transform: rotate(-90deg);
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: rgb(15, 15, 15);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(75, 75, 75);
  border-radius: 20px;
}


@media screen and (max-width:700px) {
  .header-font {
    font-size: 3rem;
    line-height: 4rem;
  }

  .bg-image {
    background-size: 100vh;
  }
}