.bg-image {
  background-image: url('https://i.ibb.co/FHXt1JC/notebooks-apple-inc-macbook-laptop-wallpaper-preview.jpg');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-font {
  font-size: 9rem;
  line-height: 10rem;
}

.running-font {
  font-size: 7rem;
  line-height: 10rem;
}

.rotate {
  transform: rotate(-90deg)
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid rgb(165, 165, 165);
  /* creates padding around scroll thumb */
}


@media screen and (max-width:700px) {
  .header-font {
    font-size: 3rem;
    line-height: 4rem;
  }

  .bg-image {
    background-size: 100vh;
  }
}